name: Deploy to cPanel via FTP

on:
  push:
    branches: [ "master" ]   
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.12.2'   # Use an available version


      - name: Install dependencies
        run: npm ci
        


      - name: Build (Vite)
        run: npm ci && npm run build


      - name: Deploy built files to FTP
        uses: SamKirkland/FTP-Deploy-Action@4.1.0
        with:
          server: ${{ secrets.FTP_HOST }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: dist/
          server-dir: ${{ secrets.FTP_REMOTE_PATH }}
          passive: true